body{
	margin: 0;
}

header{
	background-color: #0f694b;
	text-align:  center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{ 
	color: white;
	font-family: 'Aclonica', sans-serif;
}

header img{
	border: 20px solid whitesmoke;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 50%;
}

h2{
	color: darkgreen;
	font-size: 30px;
}

a{
	color: seagreen;
}
a:hover{
	color: darkseagreen;
}

p{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}